.tooltip2 {
    position: relative;
    cursor: default;
}

.tooltip2 .txt {
    width: 200px;
    padding: 10px 15px;
    display: none;
    position: absolute;
    z-index: 1000;
    border-radius: 3px;
    background: rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 5px #888888;
    font-size: 12px;
    line-height: 150%;
    color: #fff;
    text-align: left;
}

.tooltip2:hover .txt {
    display: block;
}

.tooltip2 .txt:before {
    width: 0;
    padding: 0;
    position: absolute;
    content: '';
}

/* Top */
.tooltip2.top .txt {
    bottom: 40px;
    left: -40px;
}

.tooltip2.top .txt:before {
    bottom: -5px;
    left: 90px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.75);
}

/* Right */
.tooltip2.right .txt {
    top: 0;
    left: 135px;
}

.tooltip2.right .txt:before {
    top: 10px;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.75);
}

/* Bottom */
.tooltip2.bottom .txt {
    top: 50px;
    left: -30px;
}

.tooltip2.bottom .txt:before {
    top: -5px;
    left: 90px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(0, 0, 0, 0.75);
}

/* Left */
.tooltip2.left .txt {
    top: -10px;
    right: 20px;
}

.tooltip2.left .txt:before {
    top: 10px;
    right: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba(0, 0, 0, 0.75);
}